<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <div id=titre>
    <h1>Connexion</h1>
  </div>
  <div id="form">
    <input type="email" name="email" id="email" placeholder="email" required >
    <input type="password" name="password" id="password" placeholder="password" required >
    <button id=bouton (click)="showInput()" >valider</button>
  </div>
  <div id=texte>
    <span>ou connecter-vous avec</span>
  </div>
  <div id=login>
    <ion-button color="success"  href="https://fr-fr.facebook.com/">
      <ion-icon color="primary" name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button color="success" href="https://mail.google.com/">
      <ion-icon color="danger" name="logo-google"></ion-icon>
    </ion-button>
  </div>
</ion-content>
<ion-footer padding>
  <p>SmartBulb© 2019 © Tous droits réservés</p>
</ion-footer>