<ion-header>
  <ion-toolbar>
    <ion-title>Bulbs</ion-title>  
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="plus">
    <img src="../../assets/plus.png">
  </div>
  <div id="ensemble">
    <div class="pro">
      <div class="ampoule">
        <img src="../../assets/ampoule.png">
      </div>
      
      <div  class="stylo">
       <ion-button href="/parametres" >
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      </div>
      <input type="text" placeholder="ref Ampoule">
    </div>
    <div class="pr">
        <div class="ampoul">
          <img src="../../assets/ampoule.png">
        </div>
        <div class="styl">
            <ion-button href="/parametres" >
            <ion-icon name="settings"></ion-icon>
          </ion-button>
        </div>
        <input type="text" placeholder="ref Ampoule">
      </div>
  </div>
</ion-content>

<ion-footer padding>
  <p>SmartBulb© 2019 © Tous droits réservés</p>
</ion-footer>